.page-footer
{
    background-color: var(--color-secondary);
}

.footer-div
{
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-div p
{
    margin: 0;
    text-align: center;
}

.footer-text a
{
    color: var(--color-tertiary);
}